<template>
    <div class="container">
        <h1>Users</h1>

        <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input v-model="editedUser.name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="editUser(editedUser)">Save changes</button>
      </div>
    </div>
  </div>
</div>

        <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> Delete Error
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="$event => error = null"></button>
        </div>

        <form>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input v-model="user" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="$event => addUser(user)">Add Name</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, index) in users">
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ user.name }}</td>
                    <td><button type="button" 
                        class="btn btn-warning" 
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        @click="$event => {editedUser.id = user.id; editedUser.name = user.name;}"
                        >
                             Edit
                        </button></td>
                    <td><button type="button" class="btn btn-danger btn-sm" @click="$event=>deleteUser(user.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup>
import {H3Error} from 'h3' 

const users = ref(null)
const user = ref(null)
const error = ref(null)
const editedUser = ref({
    id: null,
    name: null,
})

users.value = await getUsers()


/**
 * @desc Get users
 */
async function getUsers() {
    return await $fetch('/api/users')
}

/**
 * @desc Add user
 * @param  user The user to Add
 */
 async function addUser(user) {
    let addedUser = null
    if(user)
    addedUser = await $fetch('/api/users',{
        method: 'POST',
        body: {
            name: user
        }
    })

    if(addUser) users.value = await getUsers()
}

/**
 * @desc Edit user
 * @param  user The user to Add
 */
 async function editUser(editedUser) {
    let user = null
    if(editedUser.id && editedUser.name)
      user = await $fetch('/api/users',{
        method: 'PUT',
        body: {
            id: editedUser.id,
            name: editedUser.name
        }
    })

    if(user) users.value = await getUsers()
}

/**
 * @desc Delete users
 */
 async function deleteUser(id){

    let deleteUserOrError = null

    if(id)
    deleteUserOrError = await $fetch('/api/users',{
        method: 'DELETE',
        body: {
            id: id,
        }
    })

    if(deleteUserOrError instanceof H3Error){
        error.value = deletedUserOrError
        return 
    }

    users.value = await getUsers()
}



//import "/dist/css/bootstrap.min.css"
//import "/dist/js/bootstrap.min.js";
useHead({
    title: 'Users Prisma Example',
    link: {
        rel: "stylesheet",
        href: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css",
        type: "text/css",
    },
    script: {
        src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    },
});

</script>